@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Integration with the WMS</h1>
    <p class="lead">
        Warehouse management system (WMS) is a software application designed to support and optimize warehouse functionality and distribution center management. These systems facilitate management in their daily planning, organizing, staffing, directing, and controlling the utilization of available resources, to move and store materials into, within, and out of a warehouse, while supporting staff in the performance of material movement and storage in and around a warehouse.
    </p>
</div>